*{
    margin: 0;
    padding: 0;
}
/*h1{
    text-align: center;
    padding: 20px;
}*/
h2{
    text-align: center;
    padding: 20px;
}
.register{
    background: #795548;
    width: 500px;
    margin: 0px 0px 0px 410px;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
#register{  
        margin-left: 100px;
}